<div class="media" id="item-<%= item.id %>">
  <div class='media-body'>
    <%= item.name %>
      <small>
        <%= item.days_left %>
        <%= link_to "", list_item_path(list, item), method: :delete, class: 'glyphicon glyphicon-ok' %>
      </small>
</div>
